# Base URL and App Configurations
NEXT_PUBLIC_BASE_URL=http://localhost:8001
NEXT_PUBLIC_GITHUB_APP_NAME=dummy
NEXT_PUBLIC_CONVERSATION_BASE_URL=http://localhost:8001
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SUBSCRIPTION_BASE_URL=http://localhost:8001
NEXT_PUBLIC_WORKFLOWS_URL=http://localhost:8002
NEXT_PUBLIC_WORKFLOWS_WEBHOOK_URL=https://e7ae-2405-201-d007-30eb-6751-8af2-6edb-b5a4.ngrok-free.app
NEXT_PUBLIC_SENTRY_REDIRECT_URI=http://localhost:8001/integrations/sentry/callback
NEXT_PUBLIC_LINEAR_REDIRECT_URI=http://localhost:8001/integrations/linear/callback
NEXT_PUBLIC_JIRA_REDIRECT_URI=http://localhost:8001/integrations/jira/callback
NEXT_PUBLIC_CONFLUENCE_REDIRECT_URI=http://localhost:8001/integrations/confluence/callback
NEXT_PUBLIC_SLACK_SERVER=https://slack.potpie.ai


# The following configurations are optional and not required for local development.
# The above configurations work well with "development mode" in https://github.com/potpie-ai/potpie

#Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# PostHog Configuration
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Formbricks Configuration
NEXT_PUBLIC_FORMBRICKS_ENVIRONMENT_ID=
NEXT_PUBLIC_FORMBRICKS_API_HOST=

# Multimodal Features (set to "true" or "1" to enable)
NEXT_PUBLIC_MULTIMODAL_ENABLED=false