@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 37%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 20% 98%;
    --muted-foreground: 215 20% 65%;
    --accent: 206 84% 92%;
    --accent-foreground: 222 47% 11%;
    --tertiary: 276 48% 87%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 221 83% 53%;
    --radius: 0.5rem;
    --chart-1: 221 83% 53%;
    --chart-2: 199 89% 48%;
    --chart-3: 217 91% 60%;
    --chart-4: 213 94% 68%;
    --chart-5: 206 100% 70%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 221 83% 53%;
    --accent-foreground: 210 40% 98%;
    --bg-muted: 0 63% 31%;
    --bg-muted-foreground: 210 40% 98%;
    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 224 76% 48%;
    --chart-1: 221 83% 53%;
    --chart-2: 199 89% 48%;
    --chart-3: 217 91% 60%;
    --chart-4: 213 94% 68%;
    --chart-5: 206 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #eaeaea;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #a1a1a1 #f0f0f0;
}

.markdown p {
  margin: 0;
  line-height: 1.5;
  white-space: pre-wrap;
}

.markdown code {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Styling for the content rendered from Markdown */

.markdown-content {
  color: #333;
}

/* Paragraph styles */
.markdown-content p {
  line-height: 1.6;
}

/* Heading styles */
.markdown-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 12px;
  color: #2c3e50;
}

/* List styles */
.markdown-content ul,
.markdown-content ol {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 16px;
}

/* List item styles */
.markdown-content li {
  margin-bottom: 8px;
}

/* Bold text (e.g., for <strong> tags) */
.markdown-content strong {
  font-weight: bold;
}

/* Code block styles */
.markdown-content pre {
  border-radius: 4px;
  overflow-x: auto;
  margin-bottom: 16px;
}

.markdown-content code {
  padding: 2px 4px;
  border-radius: 4px;
}
