@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f5f4f3;
    --foreground: #444444;
    --card: #ebedf0;
    --card-border: #0f49a0;
    --card-foreground: #f7f4ec;
    --secondary: #ebedf0;
    --muted: #ebedf0;
    --accent: #0f49a0;
    --accent-foreground: #0f49a0;
    --border: #848484;
    --input: #0f49a0;
    --ring: #FF7A00;
    --text-color-primary: #2c4e80;
    --text-color-secondary: #5b5b5b;
    --text-color-tertiary: #BBBBBB;
    --text-color-accent: #ffffff;
    --text-color-icons: #005c78;
    --radius: 0.5rem;
  }

  /* define dark theme color scheme later to use that */

  /* .dark {
    --background: #F5F4F3;
    --foreground: #444444;
    --card: #F7F4EC;
    --card-border: #E88D67;
    --card-foreground: #F7F4EC;
    --secondary: #F7F4EC;
    --muted: #F7F4EC;
    --accent: #E88D67;
    --accent-foreground: #F27400;
    --border: #D4D4D4;
    --input: #E88D67;
    --ring: #F27400;
    --text-color-primary: #2C4E80;
    --text-color-secondary: #444444;
    --text-color-tertiary: #FA4A00;
    --text-color-accent: #FFFFFF;
    --text-color-icons: #005C78;
    --radius: 0.5rem;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-mulish);
  }
}

.react-flow__minimap {
  background-color: #f7f4ec !important;
}

.react-flow__attribution {
  display: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}